@inject HttpClient Http

<ul class="list-unstyled">
    @foreach (var tour in Tours)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@tour.TourImageUrl" alt="@tour.TourName" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mt-0">@tour.TourName</h4>
                </a>
                <p>@tour.TourDescription</p>
                <p> <strong>Length:</strong> @tour.TourLength days </p>
                <p> <strong>Price:</strong> £@tour.TourPrice </p>
                <p> <strong>Spaces Available:</strong> @tour.TourAvailableSpaces </p>
            </div>
        </li>
    }
</ul>

@code {
    private static List<Tour> Tours = new List<Tour>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Tour>>("api/Tour");
        if (result != null)
        {
            Tours = result;
        }
    }
}
